#XPointProgressBar {
        background: url(xpprogress_bg.gif);
        border: 1px solid #736a60;
        height:16px;
}

#XPointProgressBar .fill{
        background: url(xpprogress_bar.gif);
        height:16px;
}