[buildout]
parts =
    productdistros
    instance
    zopepy

    nginx-build

    frontend

    supervisor

# Change the number here to change the version of Plone being used
extends = 
    http://download.zope.org/Zope2/index/2.12.3/versions.cfg
    http://dist.plone.org/release/4.0/versions.cfg
versions = versions


# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.0
    http://dist.plone.org/thirdparty

# Add additional eggs here
eggs =
    PIL
    RelStorage
    psycopg2 == 2.2.2

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =

[users]
frontend = worker

[ports]
supervisor = 8701

[downloads]
nginx = http://sysoev.ru/nginx/nginx-0.7.67.tar.gz

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL,
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.distros
recipe = plone.recipe.distros
urls =
nested-packages =
version-suffix-packages =

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
#debug-mode = on
#verbose-security = on
blob-storage = var/blobstorage
# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
rel-storage = 
    type postgresql
    dsn dbname='plonedemo' user='plonedemo' host='localhost' password='password'
    blob-dir ${buildout:directory}/var/blobstorage

eggs =
    Zope2
    Plone
    ${buildout:eggs}
environment-vars =
    zope_i18n_compile_mo_files = true

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =

products =
    ${buildout:directory}/products
    ${productdistros:location}

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

#############################################################
# build Nginx
#############################################################
[nginx-build]
recipe = zc.recipe.cmmi
url = ${downloads:nginx}

#############################################################
# the front end web server setting
#############################################################
[frontend]
recipe = gocept.nginx
nginx = nginx-build
configuration = 
    user ${users:frontend};
    error_log ${buildout:directory}/var/log/frontend-error.log debug;
    worker_processes 1;
    daemon off;
    events {
        worker_connections 1024;
    }

    http {
        server {
            listen 80;
            server_name localhost; 
            access_log ${buildout:directory}/var/log/frontend-access.log;

            # rules to redirect the reversed ids for root level Plone site:
            rewrite (.+)/(pd-.+)$ http://$host:$http_port/$2/ last;
            rewrite (.+)/(pd-.+)/$ http://$host:$http_port/$2/ last;

            # rules to redirect the reversed ids for root level Zope folders:
            rewrite /sandbox$ http://$host:$http_port/pd-admin/ last;
            rewrite /sandbox/$ http://$host:$http_port/pd-admin/ last;

            # rule for plone sites in sandbox folder
            rewrite ^/sandbox/(.*) /VirtualHostBase/http/$host:$http_port/VirtualHostRoot/sandbox/$1 last;

            # rule for plone sites in root folder
            rewrite ^/([^/]+)/(.*) /VirtualHostBase/http/$host:$http_port/VirtualHostRoot/$1/$2 last;
            # This rule will add a '/' at the end, so the previous rule could take over. 
            rewrite ^/([^/]+) http://$host:$http_port/$1/ last;  

            # redirect to homepage
            rewrite / http://$host:$http_port/pd-admin/ permanent;

            location / {
                proxy_pass http://localhost:8080;
            }
        }
    }

[supervisor]
recipe = collective.recipe.supervisor
port = ${ports:supervisor}
user = admin
password = admin
serverurl = http://localhost:${ports:supervisor}
programs =
    20 instance  ${buildout:directory}/bin/instance fg true 
    50 frontend  ${nginx-build:location}/sbin/nginx [-c ${frontend:run-directory}/frontend.conf] true
